<div class="aspect-video">
  <img src="./assets/images/about.png" alt="" class="object-cover min-h-96 w-full">
</div>
<div class="w-[min(calc(100%-2rem),72rem)] mx-auto">
  <div class="mx-auto py-5 space-y-[1em]">
    <h3 class="text-center font-bold text-2xl">¿Quiénes somos?</h3>
    <p>Somos la marca de maquillaje que celebra la diversidad, la cultura y la belleza de Latinoamérica. Sabemos que el
      amor propio es la mejor herramienta para empoderar a quienes buscan todos los días perseguir sus sueños con coraje
      y una sonrisa. Somos la marca que crea productos de tendencia, diseñados y pensados en ti, que buscas calidad,
      duración y precios increíbles.</p>
  </div>
</div>
