<p-sidebar
  position="right"
  [(visible)]="sidebarVisible"
  styleClass="w-96"
>
  <ng-template pTemplate="header">
    <h3 class="font-semibold text-lg text-[var(--primary-color)]">Carrito de compras</h3>
  </ng-template>
  @for (cartItem of cartItems(); track cartItem) {
    <app-cart-item [cartItem]="cartItem" />
  }
  @if (cartItems().length === 0) {
    <div class="text-gray-600 text-sm">
      <p>No hay productos en el carrito</p>
    </div>
  } @else {
    <p-divider/>
    <div>
      <div class="flex justify-between p-2">
        <span class="font-bold">Total</span>
        <span class="font-bold text-900">
        {{ cartTotal() | currency }}
      </span>
      </div>
      <a
        class="p-button p-button-outlined justify-center w-full"
        routerLink="./checkout"
      >
        <i class="pi pi-credit-card"></i>
        <span>&nbsp; Ir al checkout</span>
      </a>
    </div>
  }
</p-sidebar>
