<div>
    <img src="../../../assets/images/about.png" alt="" class="w-100">
</div>
<div class="container">
    <div class="col-md-8 mx-auto py-5">
        
    <h3 class="text-main text-center mb-5">¿Quiénes somos?</h3>
    <p>Somos la marca de maquillaje que celebra la diversidad, la cultura y la belleza de Latinoamérica. Sabemos que el amor propio es la mejor herramienta para empoderar a quienes buscan todos los días perseguir sus sueños con coraje y una sonrisa.  Somos la marca que crea productos de tendencia, diseñados y pensados en ti, que buscas calidad, duración y precios increíbles.</p>
    </div>
</div>