<div class="grid pb-8">
  <h2 class="text-center font-semibold text-2xl my-6 text-[var(--primary-color)]">Reserva tu cita aquí ~</h2>
  <form
    [formGroup]="appointmentForm"
    class="grid w-[min(calc(100%-2rem),52rem)] mx-auto space-y-4 text-sm"
    (ngSubmit)="agregar()"
  >
    <p-fieldset legend="Tipo de servicio">
      <div class="form-group | grid">
        <label class="font-semibold">Servicio</label>
        <p-dropdown
          [options]="services"
          optionLabel="name"
          placeholder="Selecciona un servicio"
          styleClass="min-w-full"
        />
      </div>
    </p-fieldset>
    <div class="grid gap-2 grid-cols-1 md:grid-cols-2">
      <p-fieldset
        legend="Datos personales"
        formGroupName="personalInformation"
      >
        <div class="grid gap-2">
          <div class="form-group | grid">
            <label class="font-semibold" for="firstName">Nombre</label>
            <input
              type="text"
              formControlName="firstName"
              id="firstName"
              name="firstName"
              pInputText
            />
          </div>
          <div class="form-group | grid">
            <label class="font-bold" for="phone">Celular</label>
            <input
              type="text"
              formControlName="phone"
              id="phone"
              name="phone"
              pInputText
            />
          </div>
          <div class="form-group | grid">
            <label class="font-bold">Correo</label>
            <input
              type="text"
              formControlName="email"
              id="email"
              name="email"
              pInputText
            />
          </div>
          <div class="form-group | grid">
            <label class="font-bold">Resumen del caso</label>
            <textarea
              id="descripcion"
              formControlName="description"
              name="descripcion"
              pInputTextarea
              rows="5"
              [autoResize]="true"
            ></textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset
        class="grid"
        legend="Datos de la cita"
        formGroupName="appointmentInformation"
      >
        <div class="grid gap-2">
          <div class="form-group | grid">
            <label class="font-semibold" for="appointmentDate">Fecha</label>
            <p-calendar
              type="date"
              formControlName="appointmentDate"
              inputId="appointmentDate"
              name="appointmentDate"
              styleClass="w-full"
              [showIcon]="true"
              [showOnFocus]="false"
            />
          </div>
          <div class="form-group | grid">
            <label class="font-semibold">Hora</label>
            <input
              type="text"
              id="hora_cita"
              name="hora_cita"
              pInputText
            />
          </div>
          <div class="form-group pb-4">
            <label class="font-semibold">Lugar</label>
            <div class="flex flex-wrap gap-4">
              <div class="flex items-center">
                <input
                  type="radio"
                  formControlName="location"
                  name="location"
                  value="1"
                  id="tienda"
                  (change)="toggleInputs($event)"
                />
                <label for="tienda" class="ml-2">
                  Tienda
                </label>
              </div>
              <div class="flex items-center">
                <input
                  type="radio"
                  formControlName="location"
                  name="location"
                  value="2"
                  id="domicilio"
                  (change)="toggleInputs($event)"
                />
                <label for="domicilio" class="ml-2">
                  Domicilio + S/10
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="font-semibold">Dirección</label>
            <input
              type="text"
              name="direccion"
              pInputText
              [disabled]="selectedLocation === '1'"
             
            >
          </div>
          <div class="form-group">
            <label class="font-semibold">Referencia</label>
            <input
              type="text"
              name="referencia"
              pInputText
              [disabled]="selectedLocation === '1'"
            >
          </div>
        </div>
      </p-fieldset>
    </div>
    <p-button
      label="Enviar"
      type="submit"
      styleClass="w-full"
    />
  </form>
</div>
