<div class="grid pb-8">
  <h2 class="text-center font-semibold text-2xl my-6 text-[var(--primary-color)]">Reserva tu cita aquí ~</h2>
  <form
    [formGroup]="appointmentForm"
    class="grid w-[min(calc(100%-2rem),52rem)] mx-auto space-y-4 text-sm"
    
  >
    <p-fieldset legend="Tipo de servicio">
      <div class="form-group | grid">
        <label class="font-semibold">Servicio</label>
        <p-dropdown
          [options]="services"
          optionLabel="nombreServicio"
          name="servicio"
          optionValue="value"
          formControlName="servicio"          
          placeholder="Selecciona un servicio"
          styleClass="min-w-full"

        />
      </div>
    </p-fieldset>
    <div class="grid gap-2 grid-cols-1 md:grid-cols-2">
      <p-fieldset
        legend="Datos personales"
        formGroupName="personalInformation"
      >
        <div class="grid gap-2">
          <div class="form-group | grid">
            <label class="font-semibold" for="firstName">Nombre</label>
            <input
              type="text"
              id="firstName"
              name="firstName"
              formControlName="firstName"
              pInputText
            />
          </div>
          <div class="form-group | grid">
            <label class="font-bold" for="phone">Celular</label>
            <input
              type="text"
              id="phone"
              name="phone"
              formControlName="phone"
              pInputText
            />
          </div>
          <div class="form-group | grid">
            <label class="font-bold">Correo</label>
            <input
              type="text"
              id="email"
              name="email"
              formControlName="email"
              pInputText
            />
          </div>
          <div class="form-group | grid">
            <label class="font-bold">Resumen del caso</label>
            <textarea
              id="descripcion"
              formControlName="description"
              name="descripcion"
              pInputTextarea
              rows="5"
              [autoResize]="true"
            ></textarea>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset
        class="grid"
        legend="Datos de la cita"
        formGroupName="appointmentInformation"
      >
        <div class="grid gap-2">
          <div class="form-group | grid">
            <label class="font-semibold" for="appointmentDate">Fecha</label>
            <p-calendar
              type="date"
              formControlName="appointmentDate"
              inputId="appointmentDate"
              name="appointmentDate"
              styleClass="w-full"
              [showIcon]="true"
              [showOnFocus]="false"
            />
          </div>
          <div class="form-group | grid">
            <label class="font-semibold">Turno</label>
            <p-dropdown
            [options]="turnos"
            optionLabel="turno"
            name="turno"
            formControlName="turno"          
            optionValue="codTurno"
            placeholder="Selecciona un turno"
            styleClass="min-w-full"
  
            />
          </div>
          <div class="form-group pb-4">
            <label class="font-semibold">Lugar</label>
            <p-dropdown
            [options]="sedes"
            optionLabel="distrito"
            name="sede"
            formControlName="sede"          
            optionValue="idSede"
            placeholder="Selecciona una sede"
            styleClass="min-w-full"
  
            />
          </div>
        </div>
      </p-fieldset>
    </div>
    <p-button
      label="Enviar"
      type="submit"
      styleClass="w-full"
    />
  </form>
</div>
