<div class="p-4">
  <div class="card">
    <div class="row">
      <div class="col-12">
        <h3>Catálogo de productos</h3>
        <select>
          <option *ngFor="let i of productos" [value]="i.codPro">{{ i.nombre }}</option>
        </select>
        <hr/>
      </div>
      <div class="col-12 col-md-6 p-2">
        <form #ProductoForm="ngForm" (ngSubmit)="agregar(); ProductoForm.reset()" class="grid gap-4 max-w-xl">
          <div class="grid gap-2">
            <input type="hidden" [(ngModel)]="model.codPro" name="id"/>
            <label for="nombre" class="form-label">Nombre</label>
          </div>
          <div class="grid gap-2">
            <input
              type="text"
              [(ngModel)]="model.nombre"
              name="nombre"
              id="nombre" class="form-control"
              pInputText
            >
            <label for="precio" class="form-label">Precio</label>
          </div>
          <div class="grid gap-2">
            <input
              type="number"
              [(ngModel)]="model.precio"
              name="precio"
              id="precio" class="form-control"
              pInputText
            >
            <label for="descripcion" class="form-label">Descripción</label>
          </div>
          <textarea
            id="descripcion"
            [(ngModel)]="model.descripcion"
            name="descripcion"
            class="form-control"
            pInputTextarea
          >
          </textarea>
          <p-button type="submit" class="btn btn-dark my-3">Procesar</p-button>
        </form>
        <p class="alert alert-info">{{ mensaje }}</p>
      </div>
      <div class="col-12 col-md-6 table-responsive">
        <p-table [value]="productos" [tableStyle]="{'min-width': '60rem'}">
          <ng-template pTemplate="caption">
            <div class="flex items-center justify-between">
              Products
              <p-button icon="pi pi-refresh"/>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Precio</th>
              <th colspan="2">Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td>{{ product.codPro }}</td>
              <td>{{ product.nombre }}</td>
              <td><img [src]="product.imagen" [alt]="product.nombre" width="100" class="shadow-4"/></td>
              <td>{{ product.precio | currency:'USD' }}</td>
              <td>{{ product.category }}</td>
              <td>
                <p-button type="button" severity="warning" (click)="getProducto(product.codPro)">Editar</p-button>
              </td>
              <td>
                <p-button type="button" severity="danger" (click)="delProducto(product.codPro)">Borrar</p-button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
              En total hay {{ productos ? productos.length : 0 }} productos.
            </div>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
