<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/images/banner1.png" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/banner2.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/banner3.png" class="d-block w-100" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container mt-5" id="destacados">
    <div class="row align-items-center">
        <div class="col-md-4">
            <h3 class="text-left mb-4 text-main">PRODUCTOS <br> DESTACADOS</h3>
            <span class="text-main">¡Descubre los favoritos que tenemos para ti!</span>
        </div>
        <div class="col-md-8">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div class="card h-100 border-0">
                  <img src="../../../assets/images/esmalte.jpeg" class="card-img-top" alt="..." />
                  <div class="card-body">
                    <h5 class="text.text-main">Esmalte de uñas</h5>
                    <p class="card-text">
                      Brillo Efecto gel
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100 border-0">
                  <img src="../../../assets/images/rimel.jpeg" class="card-img-top" alt="..." />
                  <div class="card-body">
                    <h5 class="text.text-main">Esmalte de uñas</h5>
                    <p class="card-text">
                      Brillo Efecto gel
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card h-100 border-0">
                  <img src="../../../assets/images/labial.png" class="card-img-top" alt="..." />
                  <div class="card-body">
                    <h5 class="text.text-main">Maquillaje de ojos</h5>
                    <p class="card-text">
                      Máscara resist
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5" id="productos">
  <h3 class="text-center text-main mb-4">NUESTROS PRODUCTOS</h3>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="text.text-main">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="text.text-main">Card title</h5>
          <p class="card-text">
            This card has supporting text below as a natural lead-in to
            additional content.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="text.text-main">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This card has even longer content than the
            first to show that equal height action.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
</div>
