<div class="flex flex-wrap p-2 items-center gap-3">
  <img
    class="w-24 shadow-sm shrink-0 rounded"
    [src]="cartItem().product.imagen"
    [alt]="cartItem().product.nombre"
  />
  <div class="flex-1 flex flex-col gap-2 text-sm">
    <span class="font-bold text-base">{{ cartItem().product.nombre }}</span>
    <div class="flex items-center gap-2">
      <i class="pi pi-tag text-sm"></i>
      <span>
            {{ cartItem().product.categoria }}
          </span>
    </div>
    <p-inputNumber
      [ngModel]="cartItem().quantity"
      (ngModelChange)="onQuantityChanged($event)"
      [showButtons]="true"
      buttonLayout="horizontal"
      decrementButtonClass="p-button-danger"
      incrementButtonClass="p-button-success"
      incrementButtonIcon="pi pi-plus"
      decrementButtonIcon="pi pi-minus"
      [min]="1"
      [max]="100"
    />
  </div>
  <span class="font-bold text-900">
        {{ (cartItem().product.precio * cartItem().quantity) | currency }}
      </span>
</div>
