<div>
    <form>
        <p-dropdown 
            formControlName="selectedServices" 
            [options]=""
            optionLabel="name"
            placeholder="Selecciona un servicio" />
        <p-floatLabel>
            <input id="username" type="text" pInputText/>
            <label for="username">Username</label>
        </p-floatLabel>
        <div class="flex flex-wrap gap-3">
            <div class="flex align-items-center">
                <p-radioButton 
                    name="pizza" 
                    value="Cheese" 
                    
                    inputId="ingredient1" />
                <label for="ingredient1" class="ml-2">
                    Cheese
                </label>
            </div>
            
            <div class="flex align-items-center">
                <p-radioButton 
                    name="pizza" 
                    value="Mushroom" 
                    inputId="ingredient2" />
                <label for="ingredient2" class="ml-2">
                    Mushroom
                </label>
            </div>
            
            <div class="flex align-items-center">
                <p-radioButton 
                    name="pizza" 
                    value="Pepper" 
                    inputId="ingredient3" />
                <label for="ingredient3" class="ml-2">
                    Pepper
                </label>
            </div>
        
            <div class="flex align-items-center">
                <p-radioButton 
                    name="pizza" 
                    value="Onion" 
                    inputId="ingredient4" />
                <label for="ingredient4" class="ml-2">
                    Onion
                </label>
            </div>
        </div>
    </form>
</div>