<div class="flex flex-col items-center justify-center min-h-screen max-w-lg mx-auto">
    <h3 class="text-center font-bold text-2xl">¡Empieza a cuidarte!</h3>
    <div class="flex flex-row items-center justify-center">
        <img src="./assets/images/cremas.jpg" class="w-1/4 mr-4">
        <div  class="flex flex-col items-center justify-center">
            <p>¿No sabes como empezar en el mundo del cuidado personal? Te ayudaremos brindandote consejos de 
                belleza y limpieza en la piel. Te ofreceremos un amplio <strong>catalogo de productos</strong> que irán a la
                perfección contigo! Gloss Boutique te escucha.
            </p>
            <p-button label="Reservar" class="mt-4" [routerLink]="['/form-service']"/>
        </div>
    </div> 
</div>



