<p-carousel
  [value]="carouselImages"
  [numVisible]="1"
  [numScroll]="1"
  [circular]="true"
  [autoplayInterval]="5000"
  indicatorStyleClass="rounded-full"
>
  <ng-template let-item pTemplate="item">
    <div class="aspect-[16/5] relative w-full">
      <img [src]="item.itemImageSrc" [alt]="item.alt" class="object-cover min-h-96">
<!--      <div class="absolute inset-0 bg-gradient-to-t from-gray-900 via-gray-900/20"></div>-->
    </div>
  </ng-template>
</p-carousel>

<div class="w-[min(calc(100%-2rem),72rem)] mx-auto">
  <div class="mt-16 space-y-16">
    <section class="space-y-8">
      <p-divider align="center">
        <h2 class="text-2xl font-semibold text-center text-[var(--primary-color)]">Productos destacados</h2>
      </p-divider>
      <div class="custom-grid">
        <div class="card | rounded-md border ">
          <div class="mx-auto rounded-t-md overflow-hidden shadow-md">
            <img
              class="w-full object-cover aspect-video"
              src="./assets/images/esmalte.jpeg"
              alt="Product Image"
            >
          </div>
          <div class="p-4 space-y-[1em]">
            <h3 class="text-lg font-medium">Product Title</h3>
            <p class="text-sm text-gray-600">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci,
              aliquid.
            </p>
            <div class="flex items-center justify-between">
              <span class="font-bold text-lg">$19.99</span>
            </div>
          </div>
        </div>
        <div class="card | rounded-md border ">
          <div class="mx-auto rounded-t-md overflow-hidden shadow-md">
            <img
              class="w-full object-cover aspect-video"
              src="./assets/images/labial.png"
              alt="Product Image"
            >
          </div>
          <div class="p-4 space-y-[1em]">
            <h3 class="text-lg font-medium">Product Title</h3>
            <p class="text-sm text-gray-600">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci,
              aliquid.
            </p>
            <div class="flex items-center justify-between">
              <span class="font-bold text-lg">$19.99</span>
            </div>
          </div>
        </div>
        <div class="card | rounded-md border ">
          <div class="mx-auto rounded-t-md overflow-hidden shadow-md">
            <img
              class="w-full object-cover aspect-video"
              src="./assets/images/rimel.jpeg"
              alt="Product Image"
            >
          </div>
          <div class="p-4 space-y-[1em]">
            <h3 class="text-lg font-medium">Product Title</h3>
            <p class="text-sm text-gray-600">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci,
              aliquid.
            </p>
            <div class="flex items-center justify-between">
              <span class="font-bold text-lg">$19.99</span>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
